/* unstyle/normalize stuff */
*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --color-text: #000000;
    --color-main: #000000;
    --color-accent: #fca311;
    --color-accent-dark: #5f3e0a;

    --color-bg-base: #e8e8e8;
    --color-bg-card: #ffffff;
    --font-main: "Roboto Condensed", sans-serif;
    --font-sub: "Roboto Condensed", sans-serif;
;
}


/* main */


h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
    
}

h1 {
    font-weight: bolder;
    font-size: 2.25rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.15rem;
}

h5 {
    font-size: 1.05rem;
}

a:visited {
    color: var(--color-accent-dark);
}
a:hover {
    color: var(--color-accent);
}



body {
    font-family: var(--font-sub);
    color: var(--color-text);
    background-color: var(--color-bg-base);
}

.container {
    display: grid;
    grid-template-rows: 4rem 1.5rem 2fr auto 1fr;
    grid-template-areas: 
        "header"
        "pop"
        "desc"
        "timelines"
        "footer";
}


header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-color: var(--color-main);
    color: var(--color-bg-card);
    padding: 1rem;
    gap: 0.5rem;
}

footer {
    padding: 2rem;
}


.subheader {
    background: linear-gradient(45deg,var(--color-accent) 70%, var(--color-main) 0%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 0.25rem 1rem;
    grid-area: pop;
    padding-bottom: 0.75rem;
}


.desc {
    grid-area: desc;
    padding: 2rem;
    background-color: var(--color-bg-card);
    border-bottom: 4px dashed var(--color-bg-base);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 800px) {
    .desc {
        border-left: 4px dashed var(--color-bg-base);
    }
}

.desc ul {
    list-style: circle;
    margin-left: 1rem;
}

.desc ul li {
    padding: 0.25rem 0px;
}

.content {
    grid-area: content;
}

footer {
    grid-area: footer;
    background-color: var(--color-main);
    min-height: 8rem;
    color: var(--color-bg-card);
}



.subway-icon {
    height: 2.5rem;
    width: auto;
    transform: translateY(0.5rem);
}


.card-icon {
    transform: translateY(20%);
    height: 1.5rem;
}


.forward-btn,
.backward-btn {

    background-color: var(--color-bg-card);
    color: var(--color-text);
    border: none;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 0.25rem;
    font: inherit;
    outline: inherit;
    transition: all 0.3s ease;

}

.forward-btn:hover, .backward-btn:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}


.forward-btn,
.backward-btn,
.timeline__media {
    cursor: pointer;
}

/* timeline stuff */


.timelines {
    grid-area: timelines;
    display: flex;
    flex-direction: column;
    gap: 2rem;    
    margin: 2rem;
    overflow-x: auto;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.timeline__content {
    display: flex;
    position: relative;
    align-items: start;
    gap: 5%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.timeline__header {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.timeline__controls {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
}

.timeline__visual {
    position: absolute;
    top: 0rem;
    left: -2rem;
    width: calc(300% + 4rem);
    height: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.timeline__visual--main {
    background-color: #f33434;
}

.timeline__visual--sub {
    background-color: rgb(124, 124, 124);
}

.timeline__card {
    position: relative;
    aspect-ratio: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow:visible;
    scroll-snap-align: start;
}

.timeline__preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.timeline__description {
    width: 0px;
    height: 0px;
    opacity: 0%;
    background-color: var(--color-bg-card);
    aspect-ratio: 1;
    padding: 1rem;
    transform: translateY(30rem);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: all 0.3s ease;
}


.timeline__card.active .timeline__description {
    opacity: 100%;
    width: 100%;
    height: auto;
    transform: translateY(3rem);
    transition: all 0.3s ease;
}

.timeline__card video {
    filter: grayscale(50%) brightness(80%);
    transition: filter 0.5s ease;
}

.timeline__card:hover video {
    filter: grayscale(0%) brightness(105%) saturate(120%);
    transition: filter 0.5s ease;
}

.timeline__media {
    width: 80vw;
    aspect-ratio: 1;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}


.timeline__marker {
  width: 1rem;
  height: 1rem;
  background: var(--color-bg-card);
  border-radius: 50%;
  border: 3px solid var(--color-main);
}


@media (min-width: 768px){

    /* expand container, since we have enough space to like actually show the timeline */
    .container {
        grid-template-columns: 5fr 1.5fr;
        grid-template-rows: 4rem 1.5rem auto 5.5rem;
        grid-template-areas: 
            "header header"
            "pop pop"
            "timelines desc"
            "footer footer";
    }

    /* changes media from taking up the entire width to using height instead */
    .timeline__media {
        height: 18rem;
        width: auto;
        aspect-ratio: 1;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }

    /* gap on vert. layout makes the timeline header too wide. this brings back the gap for pc */
    .timeline__controls {
        gap: 1rem;
    }

    /* switches layout back to horizontal */
    .timeline__controls, 
    .timeline__card {
        flex-direction: row;
    }

    /* this expands the desc. out to the right instead of down */
    .timeline__card.active .timeline__description {
        width: 24rem;
        height: 20rem;
        transform: translateY(3rem) translateX(1rem);
        transition: all 0.3s ease;
    }
}