
/* unstyle/normalize stuff */
*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --color-text: #000000;
    --color-main: #000000;
    --color-accent: #fca311;
    --color-bg-base: #e8e8e8;
    --color-bg-card: #ffffff;
    --font-main: 'Helvetica', sans-serif;
    --font-sub: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
}


h1 {
    font-weight: bolder;
    font-size: 2.25rem;
}

h2 {
    font-size: 1.9rem;
}

body {
    font-family: var(--font-sub);
    color: var(--color-text);
    background-color: var(--color-bg-base);
}

.container {
    display: grid;
    grid-template-rows: 4rem 1.5rem 2fr 8fr 1fr;
    grid-template-areas: 
        "header"
        "pop"
        "desc"
        "timelines"
        "footer";
}

@media (min-width: 800px){
    .container {
        display: grid;
        grid-template-columns: 5fr 2fr;
        grid-template-rows: 4rem 1.5rem auto 5.5rem;
        grid-template-areas: 
            "header header"
            "pop pop"
            "timelines desc"
            "footer footer";
    }
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-color: var(--color-main);
    color: var(--color-bg-card);
    padding: 1rem;
    gap: 0.5rem;
}

nav {
    background: linear-gradient(45deg,var(--color-accent) 70%, var(--color-main) 0%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 0.25rem 1rem;
    grid-area: pop;
}

nav li {
    display: inline-block;
    padding: 0px 0.5rem;
}

.desc {
    grid-area: desc;
    padding: 2rem;
    background-color: var(--color-bg-card);
    border-bottom: 4px dashed var(--color-bg-base);
}

@media (min-width: 800px) {
    .desc {
        border-left: 4px dashed var(--color-bg-base);
    }
}

.desc ul {
    list-style: circle;
    margin-left: 1rem;
}

.desc ul li {
    padding: 8px 0px;
}

.content {
    grid-area: content;
}

footer {
    grid-area: footer;
    background-color: var(--color-main);
    min-height: 8rem;
}

.timelines {
    grid-area: timelines;
    display: flex;
    flex-direction: column;
    gap: 2rem;    
    margin: 2rem;
    overflow-x: auto;
}

.timeline {
    display: flex;
    position: relative;
    align-items: end;
    gap: 3rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.timeline__visual {
    position: absolute;
    bottom: 0rem;
    left: -2rem;
    width: calc(300% + 4rem);
    height: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.timeline__visual--main {
    background-color: red;
}

.timeline__visual--sub {
    background-color: salmon;
}

.timeline__card {
    /* background-color: var(--color-bg-card); */
    aspect-ratio: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 0.5rem;
}



.timeline__media {
    height: 18rem;
    width: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

}

.timeline__marker {
  width: 1rem;
  height: 1rem;
  background: var(--color-bg-card);
  border-radius: 50%;
  border: 3px solid var(--color-main);
}


